// Color Codes
$white-1: #fff;
$white-2: #e5e7f0;
$white-3: #f2f5f8;
$white-4: #f5f7fa;
$white-5: #e7eff3;
$white-6: #eef3f7;
$white-7: #e5e7f0;
$white-8: #c5cadd;
$white-9: #eff2f5;

$red-1: #f0426b;
$red-2: #ec1346;
$red-3: #fef4f8;

$blue-1: #28aae2;
$blue-2: #e8effc;
$blue-3: #3af;
$blue-4: #ecf8ff;

$yellow-1: #ffc700;
$yellow-2: #fff8dd;

$orange: #f2984a;

$grey-1: #a0a5b6;
$grey-2: #494e50;
$grey-3: #b5b5c3;
$grey-4: #bdc0cc;
$grey-5: #b9b9c6;

$black: #191d31;

$primary-1: #01a2f9;
$primary-2: #0095e5;

$background-2: #e9ecf1;

$green-1: #50cd89;
$green-2: #34b670;
$green-3: #e8fff3;

$dark-blue-1: #12213a;
$dark-blue-2: #191d31;

$purple-1: #743ae9;
$purple-2: #f7f5ff;

$dashboard-1: #494b74;
$dashboard-2: #1e1f2d;
$dashboard-3: #181925;

// Font size
$xsFontSize: 10px;
$smFontSize: 12px;
$mdFontSize: 14px;
$lgFontSize: 16px;

$display-1: 96px;
$display-2: 88px;
$display-3: 72px;
$display-4: 56px;

$header-1: 40px;
$header-2: 32px;
$header-3: 28px;
$header-4: 26px;
$header-5: 20px;
$header-6: 16px;

$title: 22px;
$title-1: 20px;

$breadcrumb: 12px;

// Font Weight
$body-Bold: 600;
$body-Medium: 500;
$body-regular: 400;

// Radius
$border-radius: 4px;
