.form {
  display: flex;
  &--horizontal {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & > .formItem {
      margin-bottom: 0;
      margin-right: rem(4px);
    }
    & > .buttonGroup {
      margin-top: rem(10px);
    }
  }
  &--vertical {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  & > div {
    width: 100%;
  }
}
